*
{
    margin: 0;
    padding: 0;
}
html
{
    height: 100%;
}
body
{
    height: 100%;
}
#wrapper
{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
}
#wrapper h1
{
    text-align: center;
}
#wrapper *
{
    margin: 6px;
}